{% extends 'base.html' %} {% block content %}

<h2>User Details</h2>
Following: {{ user.following.count }}
Tweets: {{ user.tweet_set.count }}

{% include 'nav.html' %}

{% if request.user.is_authenticated %}
<p><a href="/follow/{{ user.id }}">Follow This User</a> | <a href="/unfollow/{{ user.id }}">Unfollow This User</a></p>

{% endif %}

<h4>{{ user.display_name }}</h4>

<p>
  {% if tweets %}
<ul>
  {%for tweet in tweets%}

  <li>{% include 'tweet_blob.html' %}</li>

  {% endfor %}
</ul>
{% else %}

<h6>No Tweets.</h6>
{% endif %}
</p>

{% endblock %}
